@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622688259870') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-right:before {
  content: "\e845";
}

